<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.everyoneoncampus">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".EocApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 即时通讯和推送 START -->
        <!-- 即时通讯和推送都需要 PushService -->
        <service android:name="cn.leancloud.push.PushService"/>
        <receiver android:name="cn.leancloud.push.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <activity android:name=".view.mainui.SendDynamicActivity"></activity>
        <activity android:name=".view.mainui.ReleaseActivity">

        </activity>
        <activity android:name=".view.mainui.MainUIActivity"></activity> <!-- <receiver android:name=".view.personinfo.LabelContentFragment$MofFragmentAdapter" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- tools:ignore="Instantiatable"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.mof.fragment"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".view.personinfo.PersoninfoActivity" />
        <activity android:name=".TestActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.register.RegisterActivity" />
        <activity
            android:name=".view.user.UserActivity"
            android:launchMode="singleTask">

        </activity>
    </application>

</manifest>